.container{
	padding: 2%;
	font-family: sans-serif;
	border-style: solid;
	border-color: rgb(200,80,50);
	margin-top: 20px;
	background-color: rgba(150,90,90,0.4);
}

.ShoppingList{
	float:left;
	font-size: 1.5em;
	width: 50%;
}

.Enter{
	border-radius: 25px;
	border: solid #909090;
	border-width: 2px;
	padding: 10px;
}

.add{
	padding: 15px;
    color: white;
	background-color: green;
	border-radius: 100%;
	border-style: none;
	font-size: 0.7em;
	margin: 3px;
}

.send_button{
	clear: both;
	display: block;
}

.send{
	float: right;
	padding: 15px;
    color: white;
	background-color: blue;
	border-radius: 10%;
	border-style: none;
	font-size: 0.7em;
	margin: 3px;	
}

.clear{
    padding: 15px;
    color: white;
	background-color: red;
	border-radius: 100%;
	border-style: none;
	font-size: 0.7em;
	margin: 3px;
}

.addInside{
	padding: 15px;
    color: black;
	background-color: transparent;
	border-radius: 100%;
	border-style: none;
	font-size: 0.7em;
	margin: 3px;
}

.clearInside{
    padding: 15px;
    color: black;
	background-color: transparent;
	border-radius: 100%;
	border-style: none;
	font-size: 0.7em;
	margin: 3px;
}

.buttonInside{
	padding: 15px;
    color: black;
	background-color: transparent;
	/*border-radius: 100%;*/
	border-style: none;
	font-size: 0.7em;
	/*margin: 1px;*/
}

.items{
	margin-bottom: 20px;
	float: right;
	width: 40%;
	text-align: right;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	color: #999999;
}

.itemsInside{
	margin-bottom: 20px;
	float: right;
	width: 40%;
	text-align: right;
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #999999;
}

.panel2{
	padding: 30px;
	padding-top: 100px;
}

.panel3{
	background-color: #f0f0ff;
	float: left;
	padding: 35px;
	width: 88%;
	margin: 25px;
}

.product1{
     padding: 5px;
}

.product{
	float : left;
	background-color: #90ff90;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	margin: 10px;
}

.product_selected{
	float : left;
	background-color: #f0e840;
	border-radius: 50px;
	width: 100%;
	padding: 10px;
	margin: 10px;
}

.nameProduct{
	padding: 10px;
	float: left;
	width: 30%;
	font-size: 1em;
    font-weight: bold;
}

.quantityProduct{
	padding: 10px;
	float: left;
	width: 20%;
	font-size: 1em;
}

.menu_id{
	float: right;
	/*width: 40%;*/
	text-align: right;
	/*font-size: 2em;*/
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF3020;
}
.body{
	background-image: url('cibo.jpg');
	/*overflow-y: scroll;*/
	/*height: 1801px;*/
	background-repeat: no-repeat;
  	background-size: cover
}